/**
 * Clinect Ratings CSS
 * Star rating sprite styles for Clinect integration
 * Updated for BendCare OS with local asset paths
 */

.comment-box {
    padding: 10px;
    background: #FFFFFF;
    font-size: .9em;
    border-bottom: 1px solid #A5A5A5;
}

.star-container.tiny {
    margin: 0 auto;
    width: 114px;
    height: 20px;
}
.star-container.small {
    margin: 0 auto;
    width: 157px;
    height: 28px;
}
.star-container.medium {
    margin: 0 auto;
    width: 204px;
    height: 36px;
}

.clinect-rating-background.medium {
    width: 100%;
    display: block;
    height: 36px;
    background: url(/clinect/sprites/sprites_stars_medium.png) 0 0;
}

.clinect-rating-overlay.medium {
    display: block;
    height: 36px;
    background: url(/clinect/sprites/sprites_stars_medium.png) 0 -38px;
}
.clinect-rating-qty, .clinect-star-qty {
    color: #696969;
}
.clinect-rating-qty.medium {
    margin: 2px 0 0 6px;
}
.clinect-star-qty.medium {
    margin: 2px 0 0 6px;
}

.clinect-rating-background.small {
    width: 100%;
    display: block;
    height: 28px;
    background: url(/clinect/sprites/sprites_stars_small.png) 0 0;
}
.clinect-rating-overlay.small {
    display: block;
    height: 28px;
    background: url(/clinect/sprites/sprites_stars_small.png) 0 -31px;
}
.clinect-rating-qty.small {
    margin: 2px 0 0 6px;
}
.clinect-star-qty.small {
    margin: 2px 0 1px 6px;
}
.clinect-ratings-reviews-block {
    color: #696969;
}
.clinect-ratings-reviews-block .tiny {
    font-size: .7em;
}

.clinect-rating-background.tiny {
    width: 100%;
    display: block;
    height: 20px;
    background: url(/clinect/sprites/sprites_stars_tiny.png) 0 0;
}
.clinect-rating-overlay.tiny {
    display: block;
    height: 20px;
    background: url(/clinect/sprites/sprites_stars_tiny.png) 0 -21px;
}
.clinect-rating-qty.tiny {
    margin: 1px 0 0 3px;
}
.clinect-star-qty.tiny {
    font-size: .7em;
    margin: 1px 0 0 3px;
}

.curated-rating.tiny {
    width: 114px;
}
.curated-rating.small {
    width: 158px;
}
.curated-rating.medium {
    width: 204px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #707070;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext {
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.tooltip .tooltiptext {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

